.form {
  width: 443px;
  padding: 60px;
  // .form__header

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(243, 243, 243, 0.02);
    margin-bottom: 30px;
  }

  // .form__avatar

  &__avatar {
    margin-bottom: 30px;
  }

  // .form__title

  &__title {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.012em;
    margin-bottom: 20px;
  }

  // .form__descr

  &__descr {
    color: #616674;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.012em;
    text-align: center;
    margin-bottom: 20px;
  }

  &__data {
    position: relative;
  }

  // .form__input

  &__input {
    border: unset;
    color: #fff;
    background: #13151D;
    border: 1px solid #1D2029;
    border-radius: 5px;
    padding: 14px 14px 15px 55px;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.015em;

    ::placeholder {
      color: #616674;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.015em;
    }
  }

  &__error {
    color: #D34145;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.015em;
  }

  &__icon {
    position: absolute;
    left: 14px;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translate(0,-50%);
    padding-right: 10px;
    border-right: 1px solid rgba(243, 243, 243, 0.02);
  }

  // .form__captcha

  &__captcha {
    color: #21242D;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    margin-top: 30px;
    background: #F3F3F3;
    border-radius: 5px;
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
}