$body_background_clr: #191C25;
$header_clr: #21242D;
$btn_clr: #2A2D35;

$line_clr: rgba(243, 243, 243, 0.02);

$white_clr: #F3F3F3;
$main_clr: #5B70CD;
$secondary_clr: #98A4B0;
$gray_clr: #616674;
$yellow_clr: #E7D579;
